<div class="row row-grid justify-content-between align-items-center">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4 mb-lg-auto">
    <div class="card card-register">
      <div class="card-header">
        <h4 class="card-title">Login</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" class="form ng-untouched ng-pristine ng-valid" novalidate="">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-email-85"></i>
              </div>
            </div>
            <input id="email" formControlName="email" class="form-control" placeholder="Email" type="text" />
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"></i>
              </div>
            </div>
            <input id="password" formControlName="password" class="form-control" placeholder="Password" type="password" />
          </div>
        </form>
      </div>
      <div class="card-footer"><a class="btn btn-danger btn-round btn-lg" (click)="login()"> Login </a></div>
    </div>
  </div>
  <div class="col-lg-4">
  </div>
</div>
